@media (max-width: 700px) {
    .topo {
        background-image: none;
        height: 100px;
    }

    #logoTopo {
        width: 50%;
        margin: 5%;
        margin-right: 25%;
    }

    .titulo {
        font-size: 9px;
        margin-top: 30%;
        margin-right: 5%;
        text-align: center;
    }

    .menu {
        margin-top: 20%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -90px;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;

    }

    .menu ul li a {
        font-size: 15px;
        line-height: 20px;
    }

    .btnOrcamentoOnline{
        margin-left: 15%;
    }

    .btnOrcamentoOnline img {
        width: 70%;
        margin-top: 35%;
    }

    #gif{
        width: 25%;
        margin-bottom: 10%;
    }

    .descricao {
        height: 900px;
        display: flex;
        flex-direction: row;
    }

    .descricao .fale {
        display: flex;
        align-items: center;
        margin-top: 5%;
        margin-bottom: -60px;
        margin-left: 9%;
    }

    .descricao .contato {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 15%;
    }

    .cont {
        width: 40px;
    }

    .descricao .contato .icone {
        margin-right: 5px;
        margin-left: 6%;
        margin-top: 10%;
    }

    .descricao .info {
        margin-left: 10%;
        margin-top: -7%;
        height: 70%;
        width: 80%;
    }

    .descricao .mapa {
        width: 90%;
        margin-left: 5%;
        margin-top: 110%;
        position: absolute;
    }

    .bot {
        height: 250px;
        display: flex;
        flex-direction: column;
    }

    .bot .tel {
        width: 80%;
    }

    .bot .tel h2 {
        color: white;
    }

    .bot .tel a {
        text-decoration: none;
    }

    .bot .imagem {
        margin-left: 35%;
        width: 200px;
    }
        
    /*orcamentoOnline*/
    .orcamento {
        margin-top: 25%;
        text-align: center;
    }      

    label{
        display:block;
    }
    /*orcamentoOnline*/


    /*agradecemos*/
    .contatoOrcamento{
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 20%;
    }

    .contatoOrcamento .cont {
        width: 60px;
    }

    .contatoOrcamento .icone {
        margin-right: 15px;
    }

    .agradecemos {
        color: #bb4c56;
        text-align: center;
        font-size: 80%;
        margin-top: 30%;
        margin-bottom: 20%;
    }
    /*agradecemos*/
   
}