html {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif
}

.topo {
    height: 400px;
    background-image: url(img/background.png);
    background-position: 60%;
    display: flex;
}

.logo {
    text-align: right;
    margin-top: 2%;
    margin-right: 2%;
    width: 150%;
}

.titulo {
    color: #bb4c56;
    margin-left: 2%;
    font-size: 100%;
    text-align: left;
    position: absolute;
}


.menu {
    list-style: none;
    margin-top: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.menu .lista li {
    display: inline-block;
    margin-top: 20px;

}

.menu ul li a {
    font-size: 25px;
    text-decoration: none;
    color: #bb4c56;
    flex-basis: 2;
    margin-right: 50px;

}

.menu ul li a:hover {
    background-color: #b41a1a;
    color: white;
    padding: 2px
}

.btnOrcamentoOnline{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.btnOrcamentoOnline img {
    width: 50%;
}

#gif{
    width: 10%;
}

.descricao {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.descricao .fale {
    color: #bb4c56;
    text-align: left;
    margin-top: 1%;
    margin-left: 12%;
}

.descricao .contato {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    width: 30%;
    margin-left: 5%;
    margin-top: 1%;
}

.cont {
    width: 100px;
}

.descricao .contato .telefone {
    margin-right: 3%;
}

.descricao .contato .whatsapp {
    margin-right: 2%;
}

.descricao .contato .messenger {
    margin-right: 2%;
}

.descricao .contato .facebook {
    margin-right: 2%;
}

.descricao .info {
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
    width: 40%;
}

.descricao .mapa {
    display: flex;
    justify-content: center;
    margin-right: 0%;
    margin-top: 2%;
}


.bot {
    background-color: black;
    height: 200px;
    margin-top: 2%;
}

.bot .tel {
    font-size: 20px;
    color: white;
    text-align: center;
    float: left;
    width: 30%;
    margin-left: 10%;
    margin-top: 5%;
}

.bot .tel h2 {
    color: white;
}

.bot .tel a {
    text-decoration: none;
}

.bot .imagem {
    float: right;
    width: 20%;
    margin-left: 10%;
    margin-top: 7%;
}

/*orcamentoOnline*/
.orcamento {
    color: #bb4c56;
    line-height: 60px;
    display: flex;
    text-align: right;
    justify-content: center;
    font-size: 20px;
}

.orcamento button {
    color: white;
    padding: 10px;
    font-size: 30px;        
    background-color: #bb4c56;
    border-radius: 20px 20px;
    border: none;
    cursor: pointer;
}
    
#mailto {
    margin-top: 10%;
    text-align: center;
}

.orcamento button:hover {
    color: #e9b406;
}

.orcamento input {
    border: 1px solid #bb4c56;
    padding: 5px;
}

.orcamento textarea {
    border: 1px solid #bb4c56;
    padding: 5px;
    width: 170px;
}
/*orcamentoOnline*/


/*agradecemos*/
.contatoOrcamento{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.contatoOrcamento .cont {
    width: 60px;
}

.contatoOrcamento .icone {
    margin-right: 8%;
}

.agradecemos {
    color: #bb4c56;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%
}
/*agradecemos*/